.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1{
    text-align: center;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.radio-group{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.radio-group input[type="radio"]{
    margin-right: 10px;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    transition: border-color 0.2s;
}
.radio-group label{
    margin: 0;
    font-weight: normal;
    cursor: pointer;
}
button{
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    color: antiquewhite;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
input:focus, textarea:focus{
    border-color: aqua;
    outline: none;
}
input:invalid, select:invalid, textarea:invalid{
    border-color: teal;
}
input:valid, select:valid, textarea:valid{
    border-color: lawngreen;
}
.radio-group input[type="radio"]:checked{
    border-color: lightseagreen;
    background-color: aqua;
    box-shadow: inset 0 0 0 4px beige;
}
button:hover{
    background-color: darkslategray;
}
input[type="radio"]:checked + label{
    color: azure;
}
button:disabled{
    background-color: blueviolet;
}
input:first-of-type{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
textarea:nth-child(5){
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}